body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #fff;

}

header {
  background: #3a3a3a;
  color: #fff;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  border: 2px solid #EE2B47;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px; /* Ajuste conforme necessário */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #EE2B47;
  text-decoration: none;
}

nav ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

.logo {
  height: 100px; /* Ajuste a altura conforme necessário */
  margin-right: 10px; /* Espaço entre o logo e a lista de navegação */
}

section {
  padding: 20px;
  margin: 100px 0; 
  background: rgb(135, 135, 135);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  font-size: 3vw;
  color: #212121;
  text-align: center;
  text-decoration: underline;
}

h2 {
  color: rgb(41, 41, 41);
  text-align: center;
  font-weight: 600;
}

h3 {
  color: rgb(41,41,41);
  text-align: center;
  font-weight: 600;
}

p {
  text-align: center;
}

p a {
  color: #EE2B47;
}

p a:hover {
  color: rgb(41, 41, 41);
}


#home {
  text-align: center;
}

#casas {
  width: 35%;
  border: 2px solid #EE2B47;

}

#mapa {
  width: 35%;
  border: 2px solid #EE2B47;

}

#projects {
  text-align: center;
}

#projects h3 {
  color: #EE2B47;
}


#obras {
  width: 30%;
  border: 2px solid #EE2B47;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;  
  margin: 0 auto;
}

form label {
  font-weight: bold;
}

form input, form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  padding: 10px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;

}

form button:hover {
  background: #EE2B47;
}


footer {
  background: #333;
  color: #EE2B47;
  text-align: center;
  padding: 5px 0;
  margin-top: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
  border: 2px solid #EE2B47;
}

footer a:hover {
  color: white;
}

/* Estilos para telas pequenas */
@media (max-width: 768px) {
    .logo {
        height: 50px; /* Reduz a altura do logo */
    }

    nav ul {
        display: flex;
        flex-wrap: wrap; /* Permite que os itens quebrem em uma nova linha */
    }

    nav ul li {
        margin: 0 3px; /* Reduz o espaço entre os itens da lista */
        width: 45%; /* Ajusta a largura dos itens da lista para caber em duas linhas */
    }

    header {
        padding: 5px 0; /* Reduz o padding do header */
    }

    footer {
        padding: 10px 0; /* Ajusta o padding do footer */
        font-size: 0.7em; /* Reduz ainda mais o tamanho da fonte do footer */
    }
}

/* Estilos para telas grandes */
@media (min-width: 769px) {
    nav ul li a {
        font-size: 1.6em; /* Aumenta o tamanho da fonte dos itens da lista */
    }
}