body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #fff;

}

#corpo {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  text-align: center;
}

header {
  background: #3a3a3a;
  color: #fff;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  border: 2px solid #EE2B47;
  box-shadow: 3px 3px 7px rgba(0,0,0,0.5);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px; /* Ajuste conforme necessário */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  
}

nav ul li {
  display: inline;
  margin: 0 5px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #EE2B47;
  /* text-decoration: underline; */
}

.logo {
  height: 100px; /* Ajuste a altura conforme necessário */
  margin-right: 10px; /* Espaço entre o logo e a lista de navegação */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
}

section {
  padding: 20px;
  margin: 20px auto; 
  background: rgb(135, 135, 135);
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  width: 70%
}
section#home {
  margin: 80px auto;
  margin-bottom: 0px;
} 

h1 {
  font-size: 3vw;
  color: #212121;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 5px;
  margin-top: 40px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

#home p strong {
  font-size: 1.3vw;
  color: #212121;
}


h2 {
  color: rgb(41, 41, 41);
  text-align: center;
  font-weight: 600;
}

h3 {
  color: rgb(41,41,41);
  text-align: center;
  font-weight: 600;
}

p {
  font-size: 1.1vw;
  text-align: center;
  font-weight: 500;
  margin: 40px;
}

p a {
  color: #EE2B47;
}

p a:hover {
  color: rgb(41, 41, 41);
}


#home {
  text-align: center;
}

#casas {
  width: 35%;
  border: 2px solid #EE2B47;

}

#mapa {
  width: 35%;
  border: 2px solid #EE2B47;
  cursor: pointer;

}

#projects {
  text-align: center;
}

#projects h3 {
  color: #212121;
  text-decoration: underline;
}

#about {
  text-align: center;
}
#obras {
  width: 30%;
  border: 2px solid #EE2B47;
}

#valores {
  width: 15%;
  border: 2px solid #EE2B47;
}


ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;  
  margin: 0 auto;
}

form label {
  font-weight: bold;
}

form input, form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  padding: 10px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;

}

form button:hover {
  background: #EE2B47;
}


footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 3px 0;
  margin-top: 6px;
  /* position: fixed; */
  width: 100%;
  bottom: 0;
  border: 2px solid #EE2B47;
  box-shadow: 3px 3px 7px rgba(0,0,0,0.5);
}

footer a:hover {
  color: #fff;
}

/* Estilos para telas pequenas */
@media (max-width: 768px) {
    .logo {
        height: 50px; /* Reduz a altura do logo */
    }

    nav ul {
        display: flex;
        flex-wrap: wrap; /* Permite que os itens quebrem em uma nova linha */
    }

    nav ul li {
        margin: 0 3px; /* Reduz o espaço entre os itens da lista */
        width: 45%; /* Ajusta a largura dos itens da lista para caber em duas linhas */
    }

    header {
        padding: 5px 0; /* Reduz o padding do header */
    }

    section {
      width: 90%;
    }

    h1 {
      margin-top: 10px;
      font-size: 4vw;
    }
  
    #home p strong {
      font-size: 2.5vw;
    }

    h2, h3 {
      font-size: 3.5vw;
    }

    p {
      font-size: 3.0vw;
      padding: 0px;
      text-align: center;
      
    }
  
    footer {
        padding: 3px 0; /* Ajusta o padding do footer */
    }

    footer #parafooter {
      font-size: 0.5em; /* Reduz ainda mais o tamanho da fonte do footer */
    }
  
    #valores {
        width: 25%;
    }
}

/* Estilos para telas grandes */
@media (min-width: 769px) {
    nav ul li a {
        font-size: 1.2em; /* Aumenta o tamanho da fonte dos itens da lista */
        background-color: #878787;
        box-shadow: 2px 2px 2px black;
        border-radius: 8px;
        padding: 2px 4px;
        margin: 0px;
    }
    nav ul li a:hover {
        background-color: #EE2B47;
        color: white;
    }
}

/* O modal (fundo preto) */
.modal {
    display: none; /* Esconda o modal por padrão */
    position: fixed; /* Fique no lugar */
    z-index: 1000; /* Fique no topo */
    padding-top: 60px; /* Localize o conteúdo do modal 60px da parte superior */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Habilita rolagem se necessário */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Estilo do conteúdo do modal (imagem) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content img {
  width: 100%;
  height: auto;
}

/* Estilo do botão fechar */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.modal-image {
  cursor: pointer;
}

a#voltar {
  font-size: 20px;
  color: #EE2B47;
  font-weight: 900;
}

a#voltar:hover {
  color: #212121;
  text-decoration: none;
}

#logo2 {
  width: 50%;
}